{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block body %}
Hello, {{ user.username|default:'Guest' }}!
<div>
    {% if user.is_authenticated %}
        <br>
        <a href="{% url 'home' %}">Browse products</a>
        <br>
        <a href="{% url 'create-product' %}">Create new product</a>
        <br>
        <a href="{% url 'user-dashboard-selling-products' %}">Products that I am selling</a>
        <br>
        <a href="{% url 'user-dashboard-sold-products' %}">Products that I sold</a>
        <br>
        <a href="{% url 'user-dashboard-bought-products' %}">Bought products</a>
        <br>
        <a href="{% url 'user-cart' %}">Cart</a>
        <br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <br>
        Don't have an account yet? <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
{% endblock body %}