{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Jakub Westa">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/15248b74ac.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="{% static '/css/base/base_style.css' %}">
        {% block head %} 
        {% endblock head %}
        <title>Web Shop</title>
    </head>
    <body>
        <header>
            <ul>
                <!-- Baloo Font -->
                <li><a href="#"><img src = "{% static 'img/WebShop.svg' %}" alt="Web Shop"/></a></li>
                <li>
                    <form>
                        <select name="category" form="category-form">
                            <option value="all">All</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>  
                        <input type="text" placeholder="What are you looking for?" name="search" autocomplete="off">                    
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>
                <li><button tpye="submit"><i class="far fa-star"></i></button></li>
                <li><button type="submit"><i class="far fa-bell"></i></button></li>
                <li><a>Makubas</a></li>
                <li><button type="submit"><i class="fas fa-chevron-down"></i></button></li>
            </ul>
        </header>
        
        {% block body %}
        {% endblock body %}
        <footer>
            test
        </footer>
    </body>
</html>