{% extends 'base.html' %}

{% load static %}

{% block body %}
    <p>Currently avaible products:</p>
    <br>
    {% if product_list %}
        <ul>
            {% for product in product_list %}
                {% if product.publicly_listed %}
                    <li>
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> {{ product.price }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no avaible products right now!!!</p>
    {% endif %}
{% endblock body %}
