{% extends 'base.html' %}

{% load static %}

{% block body %}
    <p>Name: {{ product.name }}</p>
    <p>Buy now: {{ product.buy_now }}</p>
    <p>Starting bid: {{ product.auction_starting_price }}</p>
    <p>Seller: {{ product.seller.username }}</p>
    <p>Amount: {{ product.amount }}</p>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ buynow_form }}
            <input type="submit" name="buynow" value="Buy now"/>
        </form>
    </div>
{% endblock body %}
