{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/product_page/product_page_style.css' %}"> 
{% endblock head %}  

{% block body %}
    <p>Name: {{ product.name }}</p>
    <p>Buy now: {{ product.buy_now }}</p>
    <p>Starting bid: {{ product.auction_starting_price }}</p>
    <p>Seller: {{ product.seller.username }}</p>
    <p>Amount: {{ product.amount }}</p>
    <div>
        <form method="post" name="buy_now_form">
            {% csrf_token %}
            <input type="submit" name="buy_now" value="buy_now"></button>
        </form>
    </div>
{% endblock body %}
